*__pycache__
data
build
.venv
src/designer/MainWindow_ui.py
src/designer/resources/image_settings_dialog_resources_rc.py
src/designer/resources/main_window_resources_rc.py
src/designer/resources/settings_dialog_resources_rc.py
test.py
to-uninstall.txt
